{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac mauris nunc. Cras vel ante vitae dui feugiat sodales. Vestibulum non fermentum sapien. Praesent scelerisque elit at ipsum scelerisque, a fringilla turpis dignissim. Suspendisse ultrices tortor vel facilisis volutpat. Nullam placerat tortor fermentum auctor accumsan. Etiam posuere sodales odio, quis aliquet urna semper at. Suspendisse vulputate nisi eu nisl ultrices dignissim. Proin et venenatis urna, at venenatis justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed sapien turpis. Nam molestie nec ex vel vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur euismod tincidunt ante vel ultrices.</p>
<p>Maecenas tempor vitae dolor ac placerat. Donec varius suscipit orci a accumsan. Proin quis commodo felis, quis luctus purus. Ut euismod dignissim tincidunt. Suspendisse quis quam in mauris eleifend finibus. Proin convallis semper augue vel vehicula. Sed ac molestie neque. Fusce nunc metus, venenatis ut nisi eget, tempor consectetur diam. Maecenas viverra diam nulla, a rutrum massa ornare eget. Pellentesque magna diam, mollis ac semper et, auctor et velit.</p>
<img src="/static/css/images/CINErateLOGOTrand.png" style="position: relative; left:15em; top:15 em;">
{% endblock %}
