

{% extends 'base.html' %}

{% block body %}



  <div class="jumbotron text-center" style="background-image: url(../static/css/images/nineteen.jpg); height: 79vh; margin-top: 15px;">
  
    
    <h1 style="color: white; font-size: 12em; padding-top: 42vh; font-family: 'Oswald', sans-serif;">CINErate</h1>
    <p style="padding: 0px; margin: 0px; position: relative; bottom: 15px; font-size: 2em; color: white; font-family: 'Oswald', sans-serif;">All your favoirte and most hated movies.</p>    
	
  </div>


{% endblock %}
