{% extends 'base.html' %}

{% block body %}

	<h1>Film Library</h1>
	<div class="card" style="width: 15rem; background-image: url('../static/css/images/1917.png');">
		<div class="card-body">
		  <h5 class="card-title">1917</h5>		  
		  <a href="#" class="btn btn-primary">RATE</a>
		</div>
	  </div>
	  <div class="card" style="width: 15rem;">
		<div class="card-body">
		  <h5 class="card-title">Card title</h5>
		  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  <a href="#" class="btn btn-primary">RATE</a>
		</div>
	  </div>
	  <div class="card" style="width: 15rem;">
		<div class="card-body">
		  <h5 class="card-title">Card title</h5>
		  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  <a href="#" class="btn btn-primary">RATE</a>
		</div>
	  </div>
	  <div class="card" style="width: 15rem;">
		<div class="card-body">
		  <h5 class="card-title">Card title</h5>
		  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  <a href="#" class="btn btn-primary">RATE</a>
		</div>
	  </div>


{% endblock %}