{% extends 'base.html' %}

{% block body %}

	<h1 style="text-align: center; font-family: 'Oswald'; "></h1>
	<hr>
	<div class="card-deck">
		<div class="card">
		  <img class="card-img-top" src="../static/css/images/1917poster.jpg" alt="Card image cap">
			<a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		</div>
		  <div class="card">
			<img class="card-img-top" src="../static/css/images/Chung.jpg" alt="Card image cap">
			  <a href="/posts" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		  </div>
		  <div class="card">
			<img class="card-img-top" src="../static/css/images/Gemini.jpg" alt="Card image cap">
			  <a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		  </div>	
	  </div>
	  <br>
	  <div class="card-deck">
		<div class="card">
		  <img class="card-img-top" src="../static/css/images/Farewell.jpg" alt="Card image cap">
			<a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		</div>
		<div class="card">
			<img class="card-img-top" src="../static/css/images/Fiction.jpg" alt="Card image cap">
			  <a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		  </div>
		  <div class="card">
			<img class="card-img-top" src="../static/css/images/Avenge.jpg" alt="Card image cap">
			  <a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		  </div>
	  </div>
	  <br>
	  <div class="card-deck">
		<div class="card">
		  <img class="card-img-top" src="../static/css/images/ROS.jpg" alt="Card image cap">
			<a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		</div>
		<div class="card">
			<img class="card-img-top" src="../static/css/images/Irish.jpg" alt="Card image cap">
			  <a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		  </div>
		  <div class="card">
			<img class="card-img-top" src="../static/css/images/Midnight.jpg" alt="Card image cap" style="height: 32.3rem;">
			  <a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		  </div>
	  </div>
	  <br>
	  <div class="card-deck">
		<div class="card">
		  <img class="card-img-top" src="../static/css/images/Quietplace.jpg" alt="Card image cap" style="height: 32.2rem;">
			<a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		</div>
		<div class="card">
			<img class="card-img-top" src="../static/css/images/Onward.jpg" alt="Card image cap">
			  <a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		  </div>
		  <div class="card">
			<img class="card-img-top" src="../static/css/images/LionKing.jpg" alt="Card image cap">
			  <a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		  </div>
	  </div>
	  <br>
	  <div class="card-deck">
		<div class="card">
		  <img class="card-img-top" src="../static/css/images/parasite.jpg" alt="Card image cap" style="height: 32.2rem;">
			<a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		</div>
		<div class="card">
			<img class="card-img-top" src="../static/css/images/OutKnives.jpg" alt="Card image cap">
			  <a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		  </div>
		  <div class="card">
			<img class="card-img-top" src="../static/css/images/Joker.jpg" alt="Card image cap">
			  <a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		  </div>
	  </div>
	  <br>
	  <div class="card-deck">
		<div class="card">
		  <img class="card-img-top" src="../static/css/images/inception.jpg" alt="Card image cap" style="height: 32.2rem;">
			<a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		</div>
		<div class="card">
			<img class="card-img-top" src="../static/css/images/BirdsOF.jpg" alt="Card image cap">
			  <a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		  </div>
		  <div class="card">
			<img class="card-img-top" src="../static/css/images/Sonic.jpg" alt="Card image cap" style="height: 32.2rem;">
			  <a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		  </div>
	  </div>
	  <br>
	  <div class="card-deck">
		<div class="card">
		  <img class="card-img-top" src="../static/css/images/ScottPilgrim.jpg" alt="Card image cap" style="height: 32.2rem;">
			<a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		</div>
		<div class="card">
			<img class="card-img-top" src="../static/css/images/MarriageStory.jpg" alt="Card image cap">
			  <a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		  </div>
		  <div class="card">
			<img class="card-img-top" src="../static/css/images/SpiderMon.jpg" alt="Card image cap" style="height: 32.2rem;">
			  <a href="/rating" class="btn btn-primary" style="font-family: 'Oswald';">VIEW CINErating</a>		  		  
		  </div>
	  </div>


{% endblock %}