{% extends 'base.html' %}

{% block body %}

<div>
	<h2> Ratings </h2>

	<table class="table table-hover">
		<thead>
		  <tr>
			<th scope="col">Movie</th>
			<th scope="col">Rating</th>
			<th scope="col">Lead Actor's name</th>
			<th scope="col">Release Date</th>
			<th scope="col">Director</th>
			<th scope="col">Description</th>
			<th scope="col">Trivia</th>
		  </tr>
		</thead>
		<tbody>
			{% for row in movies %}
			<tr>
				<td> {{ row.Movie_name }}</td>
				<td> {{ row.Movie_rating }}</td>
				<td> {{ row.LeadActor }}</td>
				<td> {{ row.Release_date }}</td>
				<td> {{ row.Director }}</td>
				<td> {{ row.Description }}</td>
				<td> {{ row.Trivia }}</td>

				<td>
					<form action="{{ url_for('get_movie', MovieID=row.MovieID) }}" Method="POST">						
						<button type="submit" class="btn btn-outline-dark">Details</button>
					</form>
				</td>
				
			</tr>
			{% endfor %}
		</tbody>
	  </table>
   
</div>
{% endblock %}